body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-titillium-web: "Titillium Web";
  --font-trirong: Trirong;
  --font-tomorrow: Tomorrow;
  --font-inter: Inter;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-3xl: 22px;
  --font-size-10xl: 29px;
  --font-size-29xl: 48px;
  --font-size-19xl: 38px;
  --font-size-13xl: 32px;
  --font-size-xs: 12px;
  --font-size-lg: 18px;
  --font-size-21xl: 40px;

  /* Colors */
  --color-white: #fff;
  --color-firebrick-100: #b70a0a;
  --color-black: #000;
  --color-darkolivegreen: #125731;
  --color-gainsboro-100: #e6e6e6;
  --color-gainsboro-200: #d9d9d9;
  --color-gray-100: #fffefe;
  --color-gray-200: #211e1c;
  --color-mediumaquamarine: #8fd7b0;
  --color-darkslategray: #333;

  /* Gaps */
  --gap-mid: 17px;
  --gap-8xl: 27px;
  --gap-smi: 13px;
  --gap-xl: 20px;
  --gap-4xl: 23px;
  --gap-3xs: 10px;
  --gap-27xl: 46px;
  --gap-5xs: 8px;

  /* Paddings */
  --padding-smi: 13px;
  --padding-3xl: 22px;
  --padding-8xs: 5px;
  --padding-7xs: 6px;
  --padding-xl: 20px;
  --padding-14xl: 33px;
  --padding-lgi: 19px;
  --padding-xs: 12px;
  --padding-mid: 17px;
  --padding-8xl: 27px;
  --padding-2xs: 11px;
  --padding-7xl: 26px;
  --padding-base: 16px;
  --padding-sm: 14px;
  --padding-9xs-8: 3.8px;
  --padding-6xs: 7px;
  --padding-9xs: 4px;
}
